#!/usr/bin/make -f

export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_build:
	WITH_OPENSSL=1 WITH_LIBUV=1 $(MAKE)

override_dh_auto_install:
	install -d debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)
	install -d debian/tmp/usr/include
	install -m 644 uSockets.a \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libuSockets.a
	install -m 644 src/libusockets.h \
		debian/tmp/usr/include/libusockets.h

	install -d debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig
	install -m 644 debian/pkg-config/libusockets.pc \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/libusockets.pc
override_dh_strip:
	# Skip stripping for static library with LTO
	dh_strip -XlibuSockets.a

override_dh_auto_clean:
	$(MAKE) clean || true

